@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    text-align: center;
    background-color: #ffffff;
    height: 100vh;

}

.heading {
    color: black;
    font-size: 42px;
    font-family: "Open Sans";
    font-weight: bold;
    margin-bottom: 4%;
}

.button {
    background-color: #e0e0e0;
    border-radius: 12px;
    border-color: black;
    border-width: 3px;
    height: 78px;
}

.button-1 {
    background-color: #6fcf97;
    border-radius: 12px;
    border-color: black;
    border-width: 3px;
    height: 78px;
}

.button-2 {
    background-color: #56ccf2;
    border-radius: 12px;
    border-color: black;
    border-width: 3px;
    height: 78px;
}

.button-3 {
    background-color: #bb6bd9;
    border-radius: 12px;
    border-color: black;
    border-width: 3px;
    height: 78px;
}

.paragraph {
    background-color: #222222;
    color: white;
    font-size: 23px;
    padding: 12px;
    border-radius: 10px;
    font-weight: 600;
    margin-top: 4%;
}

.span {
    color: #49a6e9;
}

.description {
    color: black;
    font-size: 22px;

}